<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Example</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

  <div th:insert="menuadmin :: menuadmintop"></div>

    <div class="ml-0 mw-100 container">
       <h2>Таблица для редактирования категорий youtube каналов</h2>
       <p>Вы можете выполнить начальную инициализацию данных, добавить, редактировать или удалить записи.</p>

       <form th:action="@{/categoryyoutube}" method="POST">
         <button type="buttion" class="mb-3 ml-1 btn btn-primary" name="myButtion[]" value="categoryyoutube#add*"><i class="fa fa-file-o"></i> Добавить</button>
         <button type="buttion" class="mb-3 btn btn-danger" name="myButtion[]" value="categoryyoutube#init"><i class="fa fa-share-square-o"></i> Инициализация</button>
       </form>

       <table class="table table-bordered table-sm table-hover ">
       <thead class="thead-dark">
         <tr>
           <th>ID</th>
           <th>Наименование категории youtube канала</th>
           <th class="ml-auto">Редактирование</th>
         </tr>
       </thead>
       <tbody>

         <div th:each="categoryyoutube : ${categoryyoutubes}">
           <tr>
             <td th:text="${categoryyoutube.id}">ID</td>
             <td th:text="${categoryyoutube.name}">NAME</td>
             <td>
             <form th:action="@{/categoryyoutube}" method="POST">
               <button type="buttion" class="btn btn-primary btn-sm" name="myButtion[]" th:value="'categoryyoutube#add*' + ${categoryyoutube.id}"><i class="fa fa-file-o"></i></button>
               <button type="buttion" class="btn btn-primary btn-sm" name="myButtion[]" th:value="'categoryyoutube#edit*'+${categoryyoutube.id}"><i class="fa fa-pencil"></i></button>
               <button type="buttion" class="btn btn-primary btn-sm" name="myButtion[]" th:value="'categoryyoutube#delete*'+${categoryyoutube.id}"><i class="fa fa-trash-o"></i></button>        
             </form>
             </td>
           </tr>
         </div>
          
       </tbody>
     </table>
    </div>


</body>
</html>