<!DOCTYPE html>
<html>
<head>
  <title>Российские железные дороги</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

  <div th:insert="navbar :: navbar"></div>

  <div class="ml-0 mt-2 container">
    <div class="jumbotron">
      <h3>Изменение покупки</h3>   

       <div th:each="errormessage : ${errormessages}">
         <form class="wl-35 mb-1 form-inline"> 
           <li class="list-group-item list-group-item-danger" th:text="${errormessage}">Danger item</li>
         </form>
       </div>
             
      <div class="mt-2 form-group">
        <form th:action="@{'/orderedit/' + ${id}}" method="POST">
        
          <div class="form-group">
            <label for="inputDate">Дата покупки:</label>
            <input type="date" class="w-25 form-control" id="purchasedate" th:value="${orderinitform.purchasedate}" placeholder="YYYY-MM-DD" name="purchasedate">
          </div>
        
          <div class="w-25 input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Количество</span>
            </div>
            <input type="number" class="form-control" id="count" th:value="${orderinitform.count}" name="count" >
          </div>

            <div class="row">
              <div class="col-0 col-md-6">
                <h6>Продукт</h6>        
                <select class="custom-select" id="idproduct" name="idproduct">
                  <option value="0" selected>Выберете...</option>
                  <div th:each="product : ${products}">
                    <option th:if="${product.id} == ${orderinitform.idproduct}" selected th:value="${product.id}" th:text="${product.productname}">Male</option>
                    <option th:if="${product.id} != ${orderinitform.idproduct}" th:value="${product.id}" th:text="${product.productname}">Male</option>
                  </div>
                </select>  
              </div>
            </div>

            <div class="mt-3 row">
              <div class="col-8 col-md-6">
                <h6>Покупатель</h6>        
                <select class="custom-select" id="idcustomer" name="idcustomer">
                  <option value="0" selected>Выберете...</option>
                  <div th:each="customer : ${customers}">
                    <option th:if="${customer.id} == ${orderinitform.idcustomer}" selected th:value="${customer.id}" th:text="${customer.customername} + ' ' + ${customer.lastname}">Male</option>
                    <option th:if="${customer.id} != ${orderinitform.idcustomer}" th:value="${customer.id}" th:text="${customer.customername} + ' ' + ${customer.lastname}">Male</option>
                  </div>
                </select>  
              </div>
            </div>

          <div>
            <button type="buttion" class="mt-3 btn btn-primary" name="myButtion[]" value="orderedit"><i class="fa fa-check"></i> Изменить</button>
            <a th:href="@{/order}" class="mt-3 btn btn-primary" role="button"><i class="fa fa-times"></i> Отмена</a>
          </div>
        </form>
      </div>
    </div>
  </div>

</body>
</html>