<!DOCTYPE html>
<html>
<head>
</head>
<body>

  <div th:fragment="nav"> 


     <div class="shadow-lg p-3 mb-5 ml-3 rounded">
       <ul class="nav nav-pills flex-column" role="tablist">

         <li class="nav-item">
           <a class="nav-link active" data-toggle="pill" href="#menu1" style="font-family: 'Oswald', sans-serif;"><i class="fa fa-home"></i> АСУ ТЭР-Администратор</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" data-toggle="pill" href="#menu2"><i class="fa fa-cog"></i> Настройки</a>
         </li>
         <li class="nav-item ml-4">
           <a class="nav-link" data-toggle="pill" href="#menu3">Системы поставщики данных</a> 
         </li>
         <li class="nav-item ml-4">
           <a class="nav-link" data-toggle="pill" href="#menu4">Модули АСУ ТЭР</a>
         </li>
         <li class="nav-item ml-4">
           <a class="nav-link" data-toggle="pill" href="#menu5">Запросы к системам</a>
         </li>
         <li class="nav-item ml-4">
           <a class="nav-link" data-toggle="pill" href="#menu6">Параметры модулей</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" data-toggle="pill" href="#menu7"><i class="fa fa-user"></i> Пользователи</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" data-toggle="pill" href="#menu8"><i class="fa fa-upload"></i> Загрузка</a>
         </li>
           
       </ul>
     </div>

  </div>


</body>
</html>