<!DOCTYPE html>
<html>
<head>
</head>
<body>

  <div th:fragment="nav">

    <h3 style="font-family: 'Oswald', sans-serif;">Редактирование настроек - Системы поставщики данных</h3> 
    <hr/>
    
    <div class="ml-0 mt-0 container-fluid small border-0 jumbotron">
      <h5>Справочник - Системы поставщики данных </h5>

      <form id="sendSystemNameFormPost" name="sendSystemNameFormPost">
        <button type="button" class="btn btn-info mt-2 mb-2" data-toggle="modal" data-target="#addSystemNameModal">
          <i class="fa fa-file-o"></i> Добавить
        </button>

        <table class="table table-sm table-bordered table-hover border-0 table-responsive">
          <thead class="thead-dark">
            <tr>
              <th style="text-align:center">Код системы</th>
              <th style="text-align:center">Наименование системы</th>
              <th style="text-align:center">Действия</th>
            </tr>
          </thead>
          <tbody> 
            <tr th:each="systemName : ${systemNames}">
              <td class="table-light" th:text="${systemName.getMnemSystem()}" style="text-align:center"></td>
              <td class="table-light" th:text="${systemName.getDestination()}" style="text-align:center"></td>
              <td> 
                <button type="button" class="btn btn-info btn-sm" th:id="${systemName.getIdSystem()}" th:onClick = "'updateGetSystemNameButtion(' + ${systemName.getIdSystem()} + ')'"><i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-info btn-sm" th:id="${systemName.getIdSystem()}" th:onClick = "'deleteGetSystemNameButtion(' + ${systemName.getIdSystem()} + ')'"><i class="fa fa-trash-o"></i></button>
              </td>
            </tr>
            
            <!-- Модальное окно добавления записи -->
            <div class="modal" id="addSystemNameModal" tabindex="-1" role="dialog" aria-labelledby="addSystemNameModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="addSystemNameModalLabel">Добавление в справочник <br>Системы поставщики данных</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div th:if="${systemNameItemError.get('insertSystemName')} != null" class="font-weight-normal text-danger" th:text="${systemNameItemError.get('insertSystemName')}"></div> 
        
                    <div class="form-group">
                      <label for="formGroupExampleInput">Код системы</label>
                      <input type="text" class="form-control" id="mnemSystem" name="mnemSystem" th:value="${addsystemNameItem.mnemSystem}" placeholder="Код">
                      <div th:if="${systemNameItemError.get('mnemSystem')} != null" class="font-weight-normal text-danger" th:text="${systemNameItemError.get('mnemSystem')}"></div> 
                    </div>
                    <div class="form-group">
                      <label for="formGroupExampleInput2">Наименование системы</label>
                      <input type="text" class="form-control" id="destination" name="destination" th:value="${addsystemNameItem.destination}" placeholder="Наименование">
                      <div th:if="${systemNameItemError.get('destination')} != null" class="font-weight-normal text-danger" th:text="${systemNameItemError.get('destination')}"></div> 
                    </div>
        
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-info" id="systemNameButtion" onClick = "addSystemNameButtion()">Сохранить</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Модальное окно удаления записи -->
            <div class="modal" id="deleteSystemNameModal" tabindex="-1" role="dialog" aria-labelledby="deleteSystemNameModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteSystemNameModalLabel">Удаление записи из справочника <br>Системы поставщики данных</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Удалить запись из справочника? </p>
                    <div th:if="${systemNameItemError.get('deleteSystemName')} != null" class="font-weight-normal text-danger" th:text="${systemNameItemError.get('deleteSystemName')}"></div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-info" th:id="${deleteSystemNameItem.getIdSystem()}" th:onClick = "'deleteSystemNameButtion(' + ${deleteSystemNameItem.getIdSystem()} + ')'">Да</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- Модальное окно редактирования записи -->
            <div class="modal" id="updateSystemNameModal" tabindex="-1" role="dialog" aria-labelledby="updateSystemNameModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="updateSystemNameModalLabel">Редактирование справочника <br>Системы поставщики данных</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div th:if="${systemNameItemError.get('updateSystemName')} != null" class="font-weight-normal text-danger" th:text="${systemNameItemError.get('updateSystemName')}"></div> 
        
                    <div class="form-group">
                      <label for="formGroupExampleInput">Код системы</label>
                      <input type="text" class="form-control" id="mnemSystem" name="mnemSystem" th:value="${updateSystemNameItem.mnemSystem}" placeholder="Код">
                      <div th:if="${systemNameItemError.get('mnemSystem')} != null" class="font-weight-normal text-danger" th:text="${systemNameItemError.get('mnemSystem')}"></div> 
                    </div>
                    <div class="form-group">
                      <label for="formGroupExampleInput2">Наименование системы</label>
                      <input type="text" class="form-control" id="destination" name="destination" th:value="${updateSystemNameItem.destination}" placeholder="Наименование">
                      <div th:if="${systemNameItemError.get('destination')} != null" class="font-weight-normal text-danger" th:text="${systemNameItemError.get('destination')}"></div> 
                    </div>
        
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-info" th:id="${updateSystemNameItem.getIdSystem()}" th:onClick = "'updateSystemNameButtion(' + ${updateSystemNameItem.getIdSystem()} + ')'">Да</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                  </div>
                </div>
              </div>
            </div>
            
          </tbody>
        </table>
      </form>
    </div>

    <script>
      $('#addSystemNameModal').on('shown.bs.modal', function () {
        $('#formGroupExampleInput').trigger('focus')
      })
    </script>

  </div>


</body>
</html>